.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    margin-left: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px solid #7991d4;
    color: #96a6d4;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.buy-btn {
    width: 40%;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 15px;
    background-color: #7991d4;
    color: #fff;
    border: 1px solid #808080;
    border-radius: 10px;
    padding: 5px 15px;
}

.buy-btn:hover {
    border: 1px solid #808080;
    border-radius: 10px;
    background-color: #8a46ae;
    cursor: pointer;
}